---
layout: default
title: "Home"
---
permalink: /

![Headshot](assets/IMG_3748.JPG)

### Welcome to My Website  
Hello! I am Luke Riley, a student at Georgia Institute of Technology studying business with a minor in FinTech.

- 📄 [Download My CV](assets/Resume_Riley_Luke.pdf)
- 💼 [LinkedIn](https://www.linkedin.com/in/yourprofile)
- 📧 Contact: [ljriley0310@gmail.com](mailto:ljriley0310@gmail.com)
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
